<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>dishvote</display-name>

    <servlet>
        <servlet-name>workerServlet</servlet-name>
        <servlet-class>ru.dsoccer1980.dishvote.web.WorkerServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>workerServlet</servlet-name>
        <url-pattern>/workers</url-pattern>
    </servlet-mapping>


</web-app>
